<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<p><%= @article.instructions %></p>


<!-- this wont show up -->
But this will
<p>$<%= @money %></p>

    <a href="/articles">
      Home
    </a>
